{% extends 'factoryWebsite/main.html' %}
{%  load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'factoryWebsite' %}">&#x2190; Weiter Einkaufen</a>
                <br>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Anzahl: <strong>{{ order.get_cart_items }}</strong></h5>
                        </th>
                        <th>
                            <h5>Gesamtsumme: <strong>{{ order.get_cart_total|floatformat:2 }} €</strong></h5>
                        </th>
                        <th>
                            <a style="float: right; margin: 5px" class="btn btn-success" href=
                                    "{% url 'checkout' %}">Weiter</a>
                        </th>
                    </tr>
                </table>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Ware</strong></div>
                    <div style="flex: 1"><strong>Preis</strong></div>
                    <div style="flex: 1"><strong>Anzahl</strong></div>
                    <div style="flex: 1"><strong>Summe</strong></div>
                    <div style="flex: 1"></div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2"><img class="row-image" src="{{ item.product.imageUrl }}" alt="product_image"></div>
                    <div style="flex: 2">{{ item.product.name }}</div>
                    <div style="flex: 1">{{ item.product.price|floatformat:2 }} €</div>
                    <div style="flex: 1"><p class="quantity">{{ item.quantity }}<p></div>
                    <div style="flex: 1">{{ item.product.price|floatformat:2 }} €</div>
                    <div style="flex: 1">
                        <img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity
                                update-cart" src="{% static 'images/trash.png' %}" alt="arrow_down_image">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}