{% extends 'factoryWebsite/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name...">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Bezahlen">
            </form>
        </div>
        <br>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Zurück zum Warenkorb</a>
            <hr>
            <h3>Bestellübersicht</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 2"><img class="row-image" src="{{item.product.imageUrl}}" alt="product_image"></div>
                <div style="flex: 2"><p>{{ item.product.name}}</p></div>
                <div style="flex: 2"><p>{{ item.product.price|floatformat:2}} €</p></div>
                <div style="flex: 2"><p>x{{ item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Anzahl: {{ order.get_cart_items }}</h5>
            <h5>Gesamtsumme: {{ order.get_cart_total|floatformat:2 }} €</h5>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>

{% endblock content %}