<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>DHBW - Modellfabrik</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript">
        function getToken(name){
            var cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name){
            var cookieArr = document.cookie.split(";");
            for (var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");
                if (name === cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined){
            cart = {"count": 0, "color": 0}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart: ', cart)
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'factoryWebsite' %}">Modellfabrik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'factoryWebsite' %}">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'monitoring' %}">Monitoring</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'storage' %}">Lagerbestand</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Einstellungen</a>
                </li>
            </ul>

            <div id="cart-symbol" class="form-inline my-2 my-lg-0">
	     	<a href="{% url 'cart' %}">
	    		<img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Shopping_Cart">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>
	        </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock content %}
    <br>

</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>