{% extends 'factoryWebsite/main.html' %}
{% load static %}
{% block content %}
<h1>Sortierstraße</h1>
<table class="table text-center">
    <tr>
    <td>
        <label>Farbsensor ==> </label><br>
    </td>
    <td>
        <label id="color-sensor">Keine Daten</label><br>
    </td>
    </tr>
    <tr>
    <td>
        <label>Temperatursensor ==> </label><br>
    </td>
    <td>
        <label id="temperature-sorting-sensor">Keine Daten</label><br>
    </td>
    </tr>
    <tr>
    <td>
        <label>Spannungsensor ==> </label><br>
    </td>
    <td>
        <label id="voltage-sorting-sensor">Keine Daten</label><br>
    </td>
    </tr>
</table>

<h1>Hochregallager</h1>
<table class="table text-center">
    <tr>
    <td>
        <label>Temperatursensor ==> </label><br>
    </td>
    <td>
        <label id="temperature-main-sensor">Keine Daten</label><br>
    </td>
    </tr>
    <tr>
    <td>
        <label>Spannungsensor ==> </label><br>
    </td>
    <td>
        <label id="voltage-main-sensor">Keine Daten</label><br>
    </td>
    </tr>
</table>

<script type="text/javascript" src="{% static 'js/monitoring.js' %}"></script>

{% endblock content %}