{% extends 'factoryWebsite/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="box-element product">
        <h1>Farb-Werte</h1>
        <textarea id="chat-log" cols="50" rows="1"></textarea><br>
    </div>

    <div class="box-element product">
        <h1>Temperatur-Werte</h1>
        <textarea id="temperature-log" cols="50" rows="1"></textarea><br>
    </div>

    <div class="box-element product">
        <h1>Spannungs-Werte</h1>
        <textarea id="voltage-log" cols="50" rows="1"></textarea><br>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('cart-symbol').classList.add("hidden");

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/monitoring/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value = (data.color);
        document.querySelector('#temperature-log').value = (data.temperature);
        document.querySelector('#voltage-log').value = (data.voltage);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>

{% endblock content %}