{% extends 'factoryWebsite/main.html' %}
{% load static %}
{% block content %}
<h1>Bitte geben Sie den aktuellen Lagerbestand ein.</h1>
<table class="table text-center">
  <tr>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Weiß</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Weiß</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Weiß</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
  </tr>
  <tr>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Rot</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Rot</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Rot</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
  </tr>
  <tr>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Blau</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Blau</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
    <td>
        <label>
            <select name="my_html_select_box">
                <option>Blau</option>
                <option>leere Kiste</option>
                <option>keine Kiste</option>
            </select>
        </label>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
        <button value="hallo">Lagerbestand aktualisieren</button>
    </td>
    <td>
    </td>
  </tr>
</table>

<script type="text/javascript">
    document.getElementById('cart-symbol').classList.add("hidden");


</script>

{% endblock content %}