{% extends 'factoryWebsite/main.html' %}
{% load static %}
{% block content %}

<div>
    <h1>Lagerbestand</h1>
    <table class="table text-center">
        <tr>
            <td>
                <label id="storage0">Keine Daten</label><br>
            </td>
            <td>
                <label id="storage1">Keine Daten</label><br>
            </td>
            <td>
                <label id="storage2">Keine Daten</label><br>
            </td>
        </tr>
        <tr>
            <td>
                <label id="storage3">Keine Daten</label><br>
            </td>
            <td>
                <label id="storage4">Keine Daten</label><br>
            </td>
            <td>
                <label id="storage5">Keine Daten</label><br>
            </td>
        </tr>
        <tr>
            <td>
                <label id="storage6">Keine Daten</label><br>
            </td>
            <td>
                <label id="storage7">Keine Daten</label><br>
            </td>
            <td>
                <label id="storage8">Keine Daten</label><br>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="{% static 'js/storage.js' %}"></script>

{% endblock content %}