{% extends 'factoryWebsite/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageUrl}}" alt="product_image">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn
                update-cart">Zum Warenkorb hinzufügen</button>
                <h4 style="display: inline-block; float: right"><strong>
                    {{ product.price|floatformat:2 }} €</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}